<!DOCTYPE html>
<html lang="en">
<head>
    {% load static  %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icon/cylinder.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/header.css'%}">
    <title>{% block title%}Online Gas Booking{%endblock%}</title>
    {%block style%}
    
    {%endblock%}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light p-0" style="background-color: yellow;">
    <a class="navbar-brand" href="#"><img src="{%static 'icon/cylinder.png'%}"  height="50" width="50" alt=""></a>
   
     
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <div class="col-lg-4 col-sm-12">
      
    </div>
    <div class="col-lg-4 col-sm-12 ">
      <form action="" class="form-inline ">
      <input type="search" class="form-control w-75 ">
      <input type="submit" value="Search" class="btn bnt-dark w-25 ">
    </form>
      </div>
<div class="col-lg-4 col-sm-12 ">
      <div class=" d-flex justify-content-lg-end justify-content-sm-end">
        {% if consumer %}
        <a href="{% url 'user:user_logout'%}" class="btn" style="background-color: orangered;color: white;">Logout</a>
        {%else%}
        <a href="{% url 'user:user_login'%}" class="btn  mr-lg-2" style="background-color: orangered;color: white;">Login</a>
        <a href="{% url 'user:user_register'%}" class="btn" style="background-color: orangered;color: white;">New User</a>
        {%endif%}
      </div>
      </div>
    </div>
  </nav>
  
  {% block body %}
  
  {%endblock%}
</div>
{%block script%}
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/proper.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>

{%endblock%}
</body>
</html>